<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact us</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
  <div class ="contact-profile">
    Vikash Parekh
    <br>
    =
    <a href="mailto:vikash.k.parekh@gmail.com">
      <i class="fa fa-envelope"></i>
    </a>
    <br>
    
    <a href = "https://angel.co/vikash-parekh" target="_blank">
      <i class="fa fa-angellist"></i> 
    </a>
    <br>

    <a href = "https://github.com/vikashiscool" target="_blank">
      <i class="fa fa-github-square"></i>  
    </a>
    <br>

    <a href = "https://www.linkedin.com/in/vikashparekh" target="_blank">
      <i class="fa fa-linkedin-square"></i>
    </a>
    <br>

    <a href = "https://twitter.com/vikashiscool" target="_blank">
      <i class="fa fa-twitter-square"></i>
    </a>
    <br>

    <a href = "https://instagram.com/vikashiscool" target="_blank">
      <i class="fa fa-instagram"></i> 
    </a>
    <br>

  <a href = "https://twitter.com/vikashiscool" target="_blank">  
    <i class="fa fa-pinterest-square"></i> 
  </a>




  </div>
</body>
</html>